<section id="home mt-5">
    <div class=" w-100 mt-5">
        <div class="row text-center mt-3">
            <div class="Header my-3 ">
                <h1 class=" h2"> Status View</h1>
            </div>
        </div>
        <div class="input-group px-2 w-25 mx-auto mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text bg-dark text-white px-5" id="inputGroup-sizing-default">Search</span>
            </div>
            <input type="date" (input)="search($event)" class="form-control searchInp" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="d-flex justify-content-between by-3 w-100">

        <div class="card w-100 mx-2">

        <table class="table  text-center">
            <thead>
              <tr>
                <th>Name </th>
                <th>Date</th>
                <th>Status</th>
                <th>Import</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of statData">
                  <td class="w-25">{{i.ApiName}}</td>
                  <td class="w-25">{{i.Date}}</td>
                  <td class="w-25">{{i.Status}}</td>
                  <td class="w-25"><button class="btn btn-primary" (click)="importFailed(i.ApiName,i.Date,i.interfaceCode)" [disabled]="i.Status=='Successful'">import</button></td>
              </tr>     
            </tbody> 
          </table>
        </div>
    </div>
    </div>
</section>

