<section id="home">

    <div class="con mt-5">
        <div class="text-center py-3 ">
            <h2 class="header header-h4">New Interface Definition</h2>
        </div>
        <form action="" [formGroup]="form2" class=" mb-2  " (ngSubmit)="authorization()">
            <div class="text-center bg-dark">
                <p class="text text-white py-2">Api Definition</p>
            </div>
            <div class="row justify-content-center ">
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">User Name</span>
                        </div>
                        <input formControlName="userName" name="" class="form-control" value="" id="">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                        </div>
                        <input formControlName="password" name="" id="" class="form-control" value=""
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                        </div>
                        <input formControlName="email" name="" id="" class="form-control" value=""
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-4 ">
                    <div *ngIf="form2.get('userName')?.invalid && form2.get('userName')?.touched">
                        <small class="btn btn-danger px-5 " *ngIf="form2.get('userName')?.errors?.required"> userName is
                            required</small>
                    </div>

                </div>
                <div class="col-md-4 ">
                    <div *ngIf="form2.get('password')?.invalid && form2.get('password')?.touched">
                        <small class="btn btn-danger px-5 " *ngIf="form2.get('password')?.errors?.required"> password is
                            required</small>

                    </div>

                </div>
                <div class="col-md-4 ">
                    <div *ngIf="form2.get('email')?.invalid && form2.get('email')?.touched">
                        <small class="btn btn-danger px-5 " *ngIf="form2.get('email')?.errors?.required"> email is
                            required</small>

                    </div>

                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Enterprise Short Name</span>
                        </div>
                        <input formControlName="enterpriseShortName" name="" class="form-control" value="" id="">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Client Id</span>
                        </div>
                        <input formControlName="clientId" name="" id="" class="form-control" value=""
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">LockRef</span>
                        </div>
                        <input formControlName="lockRef" name="" id="" class="form-control" value=""
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-4 ">
                    <div *ngIf="form2.get('enterpriseShortName')?.invalid && form2.get('enterpriseShortName')?.touched">
                        <small class="btn btn-danger px-5 " *ngIf="form2.get('enterpriseShortName')?.errors?.required">
                            Enterprise Short Name is
                            required</small>
                    </div>

                </div>
                <div class="col-md-4 ">
                    <div *ngIf="form2.get('clientId')?.invalid && form2.get('clientId')?.touched">
                        <small class="btn btn-danger px-5 " *ngIf="form2.get('clientId')?.errors?.required"> Client Id
                            is
                            required</small>

                    </div>

                </div>
                <div class="col-md-4 ">
                    <div *ngIf="form2.get('lockRef')?.invalid && form2.get('lockRef')?.touched">
                        <small class="btn btn-danger px-5 " *ngIf="form2.get('lockRef')?.errors?.required"> LockRef is
                            required</small>

                    </div>

                </div>
            </div>
            <div class="row py-2 align-items-center  text-center">
                <div class="col-md-3 ">
                    <div class="input-group ">
                        <div class="input-group-prepend w-100">
                            <span class="input-group-text text-center py-3 " id="inputGroup-sizing-default">Api
                                Schedule</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-check text-white bg-dark text-center w-100">
                        <input class="form-check-input  " type="radio" name="exampleRadios" id="exampleRadios1" formControlName="ApiScheduleStatue" value="day" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Every day
                         </label>
                      </div>
                    <input name="everyDay" formControlName="ApiSchedule" class="list-unstyled hiddenul2 form-control" type="time">
                </div>
                <div class="col-md-3">
                    <div class="form-check text-white bg-dark text-center w-100">
                        <input class="form-check-input  "  type="radio" name="exampleRadios" id="exampleRadios1"  formControlName="ApiScheduleStatue" value="month" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Every Month
                        </label>
                    </div> 
                    <input name="everyMonth" type="datetime-local"  formControlName="ApiSchedule"  class="list-unstyled hiddenul2 form-control">
                </div>
                <div class="col-md-3">
                    <div class="form-check text-white bg-dark text-center w-100">
                        <input class="form-check-input  "  type="radio" name="exampleRadios" formControlName="ApiScheduleStatue" id="exampleRadios1" value="year" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Every Year
                        </label>
                    </div> 
                    <input name="everyYear" type="datetime-local"   formControlName="ApiSchedule" class="list-unstyled hiddenul2 form-control">

                </div>

            </div>
            <div class="text-center  bg-dark">
                <p class="text-white py-2">Sun Definition</p>
            </div>
            <div class="row ">
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">User</span>
                        </div>
                        <input formControlName="SunUser" name="" class="form-control" value="" id="">

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                        </div>
                        <input formControlName="SunPassword" name="" id="" class="form-control" value=""
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Server</span>
                        </div>
                        <input formControlName="Sunserver" name="" id="" class="form-control" value=""
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Database</span>
                        </div>
                        <input formControlName="SunDatabase" name="" class="form-control" value="" id="">

                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-3 ">
                    <div *ngIf="form2.get('SunUser')?.invalid && form2.get('SunUser')?.touched">
                        <small class="btn btn-danger px-5 " *ngIf="form2.get('SunUser')?.errors?.required"> User is
                            required</small>
                    </div>

                </div>
                <div class="col-md-3 ">
                    <div *ngIf="form2.get('SunPassword')?.invalid && form2.get('SunPassword')?.touched">
                        <small class="btn btn-danger px-5 " *ngIf="form2.get('SunPassword')?.errors?.required"> Password
                            is
                            required</small>

                    </div>

                </div>
                <div class="col-md-3 ">
                    <div *ngIf="form2.get('Sunserver')?.invalid && form2.get('Sunserver')?.touched">
                        <small class="btn btn-danger px-5 " *ngIf="form2.get('Sunserver')?.errors?.required"> Server is
                            required</small>

                    </div>
                </div>
                <div class="col-md-3 ">
                    <div *ngIf="form2.get('SunDatabase')?.invalid && form2.get('SunDatabase')?.touched">
                        <small class="btn btn-danger px-5 " *ngIf="form2.get('SunDatabase')?.errors?.required"> Database
                            is
                            required</small>

                    </div>

                </div>
            </div>
            <div class="row pt-2 align-items-center text-center">
                <div class="col-md-3 text-center ">
                    <div class="input-group ">
                        <div class="input-group-prepend w-100">
                            <span class="input-group-text text-center py-3 w-100" id="inputGroup-sizing-default">Sun
                                Schedule</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="form-check text-white bg-dark text-center w-100">
                        <input class="form-check-input  " type="radio" (click)="diss($event)" name="exampleRadios2" id="exampleRadios2"  formControlName="SunScheduleStatue" value="day" checked>
                        <label class="form-check-label" for="exampleRadios2">
                            Every day
                         </label>
                      </div> 
                    <p class="text-white">{{dis != 'day'}}</p>
                    <input name="everyDay" formControlName="SunSchedule"   disabled  class="list-unstyled hiddenul2 form-control" type="time">

                </div>
                <div class="col-md-3 ">
                    <div class="form-check text-white bg-dark text-center w-100">
                        <input class="form-check-input  " type="radio" (click)="diss($event)" name="exampleRadios2" formControlName="SunScheduleStatue"  id="exampleRadios2" value="month" checked>
                        <label class="form-check-label" for="exampleRadios2">
                            Every Month
                        </label>
                      </div> 
                   
                    <input name="everyMonth" formControlName="SunSchedule" disabled  type="datetime-local" class="list-unstyled hiddenul2 form-control">
                </div>
                <div class="col-md-3">
                    <div class="form-check text-white bg-dark text-center w-100">
                        <input class="form-check-input  " type="radio" (click)="diss($event)" name="exampleRadios2" id="exampleRadios2" formControlName="SunScheduleStatue"  value="year" checked>
                        <label class="form-check-label" for="exampleRadios2">
                            Every Year
                        </label>
                      </div> 
                    
                    <input name="everyYear" type="datetime-local" disabled formControlName="SunSchedule" class="list-unstyled hiddenul2 form-control">

                </div>

            </div>
            <div class="row justify-content-center">

                <div class="col-md-12">
                    <button type="submit" class="btn btn-dark text-white w-100 "
                        [disabled]="form2.status=='INVALID'">submit</button>
                </div>
            </div>

        </form>

    </div>

    <div class="position-fixed bottom-0   text-white text-center right-0  " style="z-index: 5; right: 0; bottom: 0;">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header ">
                <button type="button" class="btn-close  m-0" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body btn-danger text-white">
            </div>
        </div>
    </div>

</section>