
<section id="">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
   

    <div class="px-5">
      <a  href="#/home"><img src="../../assets/LOGO.png" class="navbar-brand img-fluid w-50 "></a> 
    </div>

    <div class="container">
     
        
      <div  class="collapse navbar-collapse " id="navbarSupportedContent">
        
            <ul class="navbar-nav ms-auto  ">

              <li *ngIf="isShown" class="nav-item active">

                  <button class="btn btn-link navss w-100 " id="dropdownBasic1" ><a href="#/SymphonyBU" class="text-white ">BU Configuration</a></button>
                </li>
                <li *ngIf="isShown" class="nav-item dropdown">
                  <div ngbDropdown class="w-25 ">
                    <button class="btn btn-link dropdown-toggle navss" id="dropdownBasic1" ngbDropdownToggle>Mapping Details</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="bg-dark">
                      <button ngbDropdownItem><a href="#/Symphonymapping" class="  text-white"> New Mapping</a></button>
                      <button ngbDropdownItem><a href="#/SymphonyMappingView" class="  text-white">View Mapping details</a></button>
                    </div>
                  </div>
                </li>
                <li *ngIf="isShown" class="nav-item dropdown bg-dark">
                <div ngbDropdown class="w-25 ms-0 bg-dark">
                  <button class="btn btn-link dropdown-toggle navss" id="dropdownBasic1" ngbDropdownToggle>API Configuration</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="bg-dark">
                    <button ngbDropdownItem><a href="#/SymphonyNewInterface"  class="  text-white"> API Configuration</a></button>
                    <button ngbDropdownItem><a href="#/SymphonySunNewInterface" class="  text-white"> SUN Configuration</a></button>
                    <button ngbDropdownItem><a href="#/SymphonyCapsNewInterface" class="text-white"> CAPS Configuration</a></button>
                    <button ngbDropdownItem><a href="#/SymphonyInterfaceDefination" class="  text-white"> Interface Definition</a></button>
                    <button ngbDropdownItem><a href="#/SymphonyallInterfacesDetails" class="  text-white"> Interface Details</a></button>
                    <button ngbDropdownItem><a href="#/SymphonyCapsDetalis" class=" text-white">CAPS Details</a></button>
                    <button ngbDropdownItem><a href="#/SymphonySunDetalis" class=" text-white">Sun Details</a></button>
                  </div>
               </div>
              </li>

              <li *ngIf="isShown" class="nav-item active">

                  <button class="btn btn-link navss w-100 " id="dropdownBasic1" ><a href="#/SymphonyStatusView" class="text-white ">Status</a></button>
                </li>
                <li class="nav-item active">
  
                <button class="btn btn-link navss " id="dropdownBasic1" ><a href="#/License" class="text-white">License</a></button>
              </li>
                <li class="nav-item active">
  
                <button class="btn btn-link navss " id="dropdownBasic1" ><a href="#/SymphonyAPPConfig" class="text-white">About</a></button>
              </li>

              </ul>

               
             
        <!-- <form class="d-flex">
          <input class="form-control me-2"  type="date" placeholder="Search" aria-label="Search">
        </form> -->

       
      </div>

        
      <!-- <form class="d-flex">
        <input class="form-control me-2"  type="date" placeholder="Search" aria-label="Search">
      </form> -->
    </div>

      
  
    <!-- <i class="fa-solid fa-hourglass-clock"></i> -->

  </nav>

  
   
   
</section>