<!-- Button trigger modal -->

<!-- Import Modal -->
<div class="modal " id="importmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">import</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" [formGroup]="form" (ngSubmit)="import()" class=" pb-3 ">
                <div class="modal-body">
                    <div class="row py-1 d-flex ">
                        <div class="col-md-6 ">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text " id="inputGroup-sizing-default">Api</span>
                                </div>
                                <select formControlName="api" id="" (click)="disableDate($event)" class="form-control">
                                    <option value="all">All</option>
                                    <option *ngFor="let i of apis" [value]="i.name">{{i.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="dateDisable==true">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text " id="inputGroup-sizing-default">Date</span>
                                </div>
                                <div class="row w-75 align-items-center">
                                    <div class="col-6">
                                        <input formControlName="startDate" (change)="test($event)" type="date"
                                            class="w-100">
                                    </div>
                                    <div class="col-6">
                                        <input formControlName="endDate" (change)="test2($event)" type="date"
                                            class="w-100 apiDate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div *ngIf="form.get('startDate')?.invalid && form.get('startDate')?.touched">
                                <small class="btn btn-danger px-5 w-100"> please enter all input</small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" [disabled]="form.status=='INVALID'" class="btn btn-primary"  >IMPORT</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal -->
<form action="" [formGroup]="form2" class=" mb-2  " (ngSubmit)="update()">
    <div class="modal " id="editmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="text-center  bg-dark">
                        <p class="text-white py-2">Interface Definition</p>
                    </div>
                    <div class="row ">


                        <div class="col-md-6">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Definition Type</span>
                                </div>
                                <select class="CN_S" formControlName="type" (change)="rows($event)" id=""
                                    class="form-control" [attr.disabled]='true'>
                                    <option value="CAPS">CAPS</option>
                                    <option value="API">API</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 " *ngIf="reviewInput.type=='API'">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Definition
                                        Codes</span>
                                </div>
                                <select formControlName="interfaceCode" id="" class="form-control">
                                    <option *ngFor="let i of  Combo.api" [value]='i.interfaceCode'>{{i.interfaceCode+" "+i.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 " *ngIf="reviewInput.type=='CAPS'">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Definition
                                        Codes</span>
                                </div>
                                <p></p>
                                <select formControlName="interfaceCode" id="" class="form-control">
                                    <option *ngFor="let i of Combo.caps" [value]='i.capsCode'>{{i.capsCode+" "+i.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Sun Server Connection</span>
                                </div>
                                <select formControlName="sunCode" id="" class="form-control">
                                    <option *ngFor="let i of Combo.sun" [value]='i.SunCode'>{{i.SunCode+" "+i.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">BU</span>
                                </div>
                                <select formControlName="BUCode" id="" class="form-control">
                                    <option *ngFor="let i of Combo.BU" [value]='i.BU'>{{i.BU}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mt-2">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Mapping Codes</span>
                                </div>
                                <select formControlName="mappCode" id="" class="form-control">
                                    <option *ngFor="let i of Combo.mapp" [value]='i.MappingCode'>{{i.MappingCode}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row pt-2">
                        <div class="col-md-3 ">
                            <div *ngIf="form2.get('SunUser')?.invalid && form2.get('SunUser')?.touched">
                                <small class="btn btn-danger px-5 " *ngIf="form2.get('SunUser')?.errors?.required"> User
                                    is
                                    required</small>
                                <small class="btn btn-danger px-5 " *ngIf="form2.get('SunUser')?.errors?.pattern"> Only
                                    Alphabet without spaces</small>
                            </div>

                        </div>
                        <div class="col-md-3 ">
                            <div *ngIf="form2.get('SunPassword')?.invalid && form2.get('SunPassword')?.touched">
                                <small class="btn btn-danger px-5 " *ngIf="form2.get('SunPassword')?.errors?.required">
                                    Password
                                    is
                                    required</small>

                            </div>

                        </div>
                        <div class="col-md-3 ">
                            <div *ngIf="form2.get('Sunserver')?.invalid && form2.get('Sunserver')?.touched">
                                <small class="btn btn-danger px-5 " *ngIf="form2.get('Sunserver')?.errors?.required">
                                    Server is
                                    required</small>

                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div *ngIf="form2.get('SunDatabase')?.invalid && form2.get('SunDatabase')?.touched">
                                <small class="btn btn-danger px-5 " *ngIf="form2.get('SunDatabase')?.errors?.required">
                                    Database
                                    is
                                    required</small>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="form2.status=='INVALID'">Apply
                        Edit</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- PostSun Modal -->
<div class="modal " id="sunPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SunPost</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" [formGroup]="form3" (ngSubmit)="importSun()" class=" pb-3 ">
                <div class="modal-body">
                    <div class="row py-1 d-flex ">
                        <div class="col-md-6 ">
                            <div class="input-group justify-content-center align-items-center">

                                <div class="input-group-prepend px-2 ">
                                    <span class="input-group-text  px-5 " id="inputGroup-sizing-default">Date</span>
                                </div>
                                <div class="row w-75 ">
                                    <div class="col-12">
                                        <input formControlName="date" type="date" class="w-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6  ">
                            <div class="input-group  d-flex justify-content-center align-items-center ">

                                <div class="input-group-prepend px-3">
                                    <span class="input-group-text px-5" id="inputGroup-sizing-default">Type</span>
                                </div>

                                <div class="form-check px-4 ">
                                    <input class="form-check-input" type="radio" formControlName="Types" name="Type"
                                        id="flexRadioDefault1" value="Net">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                         Net Revenue
                                    </label>
                                </div>
                                <div class="form-check px-4">
                                    <input class="form-check-input" type="radio" formControlName="Types" name="Type"
                                        id="flexRadioDefault2" value="Gross">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Gross Revenue
                                    </label>

                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"  [disabled]="form3.status=='INVALID'">POST</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal -->
<div class="modal " id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>ARE YOU SURE YOU WANT TO DELETE THIS ROW ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" (click)=confirmDelete() class="btn btn-danger"
                    data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between by-3">

    <div class="card w-100">

        <table class="table mx-2 text-center mt-5">
            <thead class="">
                <tr>
                    <th scope="col">Schedule</th>
                    <th scope="col">Schedule caps</th>
                    <th scope="col">Schedule Sun</th>
                    <th scope="col">Interface Type</th>
                    <th scope="col">Interface code</th>
                    <th scope="col">Sun Server Connection</th>
                    <th scope="col">BU Code </th>
                    <th scope="col">Mapping Code</th>
                    <th scope="col"> import</th>
                    <th scope="col"> Sun Post</th>
                    <th scope="col"> Edit</th>
                    <th scope="col"> Delete</th>

                </tr>
            </thead>
            <tbody id="">
                <tr *ngFor="let i of interfaceData">
                    <!-- <td>
                        <div class="startend w-100 text-center d-flex my-2 ">
                            <div class="form-check form-switch mx-auto">
                                <input class="form-check-input" type="checkbox"
                                    (change)="startStop($event,i)" role="switch"
                                    id="flexSwitchCheckChecked" [checked]="i.scheduleStatus" />
                            </div>
                            <button class="btn btn-success me-2" type="submit " (click)="start(i.connectionCode)">start</button>
                        <button class="me-4 btn btn-danger" type="submit" (click)="stop(i.connectionCode)">Stop</button>
                        </div>
                    </td> -->
                    <td>

                        <div class="startend w-100 text-center d-flex my-2 ">
                            <div class="form-check form-switch mx-auto">
                                <input class="form-check-input" type="checkbox"
                                    (change)="startStopCaps($event,i)" role="switch"
                                    id="flexSwitchCheckChecked" [checked]="i.scheduleStatus" />
                            </div>
                            <!-- <button class="btn btn-success me-2" type="submit " (click)="start(i.connectionCode)">start</button>
                        <button class="me-4 btn btn-danger" type="submit" (click)="stop(i.connectionCode)">Stop</button> -->
                        </div>
                    </td>
                    <td>

                        <div class="startend w-100 text-center d-flex my-2 ">
                            <div class="form-check form-switch mx-auto">
                                <input class="form-check-input" type="checkbox"
                                    (change)="startStopSun($event,i)" role="switch"
                                    id="flexSwitchCheckChecked" [checked]="i.scheduleStatus" />
                            </div>
                            <!-- <button class="btn btn-success me-2" type="submit " (click)="start(i.connectionCode)">start</button>
                        <button class="me-4 btn btn-danger" type="submit" (click)="stop(i.connectionCode)">Stop</button> -->
                        </div>
                    </td>
                    <td>{{i.type}}</td>
                    <td>{{getInterfaceNames(i)}}</td>
                    <td>{{getSunNames(i.sunCode)}}</td>
                    <td>{{i['BUCode']}}</td>
                    <td>{{i.mappCode}}</td>
                    <td><button class="btn btn-success icBtn" data-bs-toggle="modal"
                            (click)="importBtn(i.interfaceCode,i.type)" data-bs-target="#importmodal">Import</button>
                    </td>
                    <td><button class="btn btn-success icBtn" data-bs-toggle="modal"
                            (click)="importBtn(i.connectionCode,i.type)" data-bs-target="#sunPost">Post</button></td>
                    <td><button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editmodal"
                            (click)="editBtn(i)">Edit</button></td>
                    <td><button class="btn btn-danger" data-bs-toggle="modal" (click)="deleteBtn(i.interfaceCode)"
                            data-bs-target="#delete">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>



</div>

<div class="position-fixed   text-white text-center right-0  " style="z-index: 5; right: 0; bottom: 39px;">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header ">
            <button type="button" class="btn-close  m-0" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body btn-dark text-white">
        </div>
    </div>
</div>