

<!-- Button trigger modal -->

<!-- Import Modal -->
<div class="modal " id="importmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">import</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" [formGroup]="form" (ngSubmit)="import()" class=" pb-3 ">
            <div class="modal-body">
                <div class="row py-1 d-flex ">
                    <div class="col-md-6 ">
                        <div class="input-group">

                            <div class="input-group-prepend">
                                <span class="input-group-text " id="inputGroup-sizing-default">Api</span>
                            </div>
                            <select formControlName="api" id="" (click)="disableDate($event)" class="form-control">
                                <option value="all">All</option>
                                <option *ngFor="let i of apis"  [value]="i.name">{{i.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6"  *ngIf="dateDisable==true">
                        <div class="input-group">

                            <div class="input-group-prepend">
                                <span class="input-group-text " id="inputGroup-sizing-default">Date</span>
                            </div>
                            <div class="row w-75 align-items-center">
                                <div class="col-6">
                                    <input formControlName="startDate" (change)="test($event)" type="date" class="w-100">
                                </div>
                                <div class="col-6">
                                    <input formControlName="endDate" (change)="test2($event)" type="date" class="w-100 apiDate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <div *ngIf="form.get('startDate')?.invalid && form.get('startDate')?.touched">
                            <small class="btn btn-danger px-5 w-100" > please enter all input</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" [disabled]="form.status=='INVALID'" class="btn btn-primary">IMPORT</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal -->
<form action="" [formGroup]="form2" class=" mb-2  " (ngSubmit)="update()">
    <div class="modal " id="editmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row py-1 d-flex ">
                            <div class="text-center bg-dark mb-2">
                                <p class="text text-white">Api Definition</p>
                            </div>
                            <div class="row justify-content-center ">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"  id="inputGroup-sizing-default">User Name</span>
                                        </div>
                                        <input formControlName="username" name="" pattern="^[a-zA-Z0-9_ ]*$" class="form-control" [value]="reviewInput.username"  id="">
                
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                                        </div>
                                        <input formControlName="password" name="" id="" class="form-control" [value]="reviewInput.password"
                                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                                        </div>
                                        <input formControlName="email" name="" id="" class="form-control" [value]="reviewInput.email"
                                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" email>
                
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-4 ">
                                    <div *ngIf="form2.get('userName')?.invalid && form2.get('userName')?.touched">
                                        <small class="btn btn-danger px-5 " *ngIf="form2.get('userName')?.errors?.required"> userName is
                                            required</small>
                                            <small class="btn btn-danger px-5 " *ngIf="form2.get('username')?.errors?.pattern"> Only Alphabet</small>
                                        </div>
                
                                </div>
                                <div class="col-md-4 ">
                                    <div *ngIf="form2.get('password')?.invalid && form2.get('password')?.touched">
                                        <small class="btn btn-danger px-5 " *ngIf="form2.get('password')?.errors?.required"> password is
                                            required</small>
                                        </div>
                
                                </div>
                                <div class="col-md-4 ">
                                    <div *ngIf="form2.get('email')?.invalid && form2.get('email')?.touched">
                                        <small class="btn btn-danger px-5 " *ngIf="form2.get('email')?.errors?.required"> email is
                                            required</small>
                                            <small class="btn btn-danger px-5 " *ngIf="form2.get('email')?.errors?.email"> Please enter a valid email</small>

                
                                    </div>
                
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Enterprise Short Name</span>
                                        </div>
                                        <input formControlName="enterpriseShortName" name="" pattern="^[a-zA-Z0-9_ ]*$" class="form-control" [value]="reviewInput.enterpriseShortName" id="">
                
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Client Id</span>
                                        </div>
                                        <input formControlName="clientId" name="" id="" class="form-control" [value]="reviewInput.clientId"
                                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">LockRef</span>
                                        </div>
                                        <input formControlName="lockRef" name="" id="" class="form-control" [value]="reviewInput.lockRef"
                                            aria-label="Sizing example input" pattern="^[a-zA-Z0-9_ ]*$" aria-describedby="inputGroup-sizing-default">
                
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-4 ">
                                    <div *ngIf="form2.get('enterpriseShortName')?.invalid && form2.get('enterpriseShortName')?.touched">
                                        <small class="btn btn-danger px-5 " *ngIf="form2.get('enterpriseShortName')?.errors?.required">
                                            Enterprise Short Name is
                                            required</small>
                                            <small class="btn btn-danger px-5 " *ngIf="form2.get('enterpriseShortName')?.errors?.pattern"> Only Alphabet</small>
                                    </div>
                
                                </div>
                                <div class="col-md-4 ">
                                    <div *ngIf="form2.get('clientId')?.invalid && form2.get('clientId')?.touched">
                                        <small class="btn btn-danger px-5 " *ngIf="form2.get('clientId')?.errors?.required"> Client Id
                                            is
                                            required</small>
                
                                    </div>
                
                                </div>
                                <div class="col-md-4 ">
                                    <div *ngIf="form2.get('lockRef')?.invalid && form2.get('lockRef')?.touched">
                                        <small class="btn btn-danger px-5 " *ngIf="form2.get('lockRef')?.errors?.required"> LockRef is
                                            required</small>
                                            <small class="btn btn-danger px-5 " *ngIf="form2.get('lockRef')?.errors?.pattern"> Only Alphabet</small>
                                    </div>
                
                                </div>
                            </div>
                            <div class="row py-2 align-items-center  text-center">
                                <div class="col-md-3 ">
                                    <div class="input-group ">
                                        <div class="input-group-prepend w-100">
                                            <span class="input-group-text text-center py-3 " id="inputGroup-sizing-default">Api
                                                Schedule</span>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-3">
                                    <div class="form-check text-white bg-dark text-center w-100">
                                        <input class="form-check-input  " type="radio" name="ApiScheduleStatue" (click)="diss($event)" id="exampleRadios1" formControlName="ApiScheduleStatue" value="apiday" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            Every day
                                         </label>
                                      </div>
                                    <input name="everyDay" id="dateApi1" formControlName="ApiSchedule" class="list-unstyled hiddenul2 form-control apiEveryDay" type="time">
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check text-white bg-dark text-center w-100">
                                        <input class="form-check-input  "  type="radio" name="ApiScheduleStatue" (click)="diss($event)" id="exampleRadios2"  formControlName="ApiScheduleStatue" value="apimonth" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            Every Month
                                        </label>
                                    </div> 
                                    <input id="dateApi2" name="everyMonth" type="datetime-local" formControlName="ApiSchedule"  class="list-unstyled hiddenul2 form-control apiEveryMonth">
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check text-white bg-dark text-center w-100">
                                        <input class="form-check-input  "  type="radio" name="ApiScheduleStatue" (click)="diss($event)" formControlName="ApiScheduleStatue" id="exampleRadios3" value="apiyear" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            Every Year
                                        </label>
                                    </div> 
                                    <input name="everyYear" type="datetime-local"   formControlName="ApiSchedule" class="list-unstyled hiddenul2 form-control apiEveryYear">
                
                                </div>
                
                            </div>
                            <div class="text-center mb-2 bg-dark">
                                <p class="text-white">Sun Definition</p>
                            </div>
                            <div class="row ">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">User</span>
                                        </div>
                                        <input formControlName="SunUser" name="" class="form-control" pattern="^[a-zA-Z0-9_ ]*$" [value]="reviewInput.SunUser" id="">
                
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                                        </div>
                                        <input formControlName="SunPassword" name="" id="" class="form-control" [value]="reviewInput.SunPassword"
                                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Server</span>
                                        </div>
                                        <input formControlName="Sunserver" name="" id="" class="form-control" [value]="reviewInput.Sunserver"
                                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Database</span>
                                        </div>
                                        <input formControlName="SunDatabase" name="" class="form-control" [value]="reviewInput.SunDatabase" id="">
                
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-3 ">
                                    <div *ngIf="form2.get('SunUser')?.invalid && form2.get('SunUser')?.touched">
                                        <small class="btn btn-danger px-5 " *ngIf="form2.get('SunUser')?.errors?.required"> User is
                                            required</small>
                                            <small class="btn btn-danger px-5 " *ngIf="form2.get('SunUser')?.errors?.pattern"> Only Alphabet</small>
                                    </div>
                
                                </div>
                                <div class="col-md-3 ">
                                    <div *ngIf="form2.get('SunPassword')?.invalid && form2.get('SunPassword')?.touched">
                                        <small class="btn btn-danger px-5 " *ngIf="form2.get('SunPassword')?.errors?.required"> Password
                                            is
                                            required</small>
                
                                    </div>
                
                                </div>
                                <div class="col-md-3 ">
                                    <div *ngIf="form2.get('Sunserver')?.invalid && form2.get('Sunserver')?.touched">
                                        <small class="btn btn-danger px-5 " *ngIf="form2.get('Sunserver')?.errors?.required"> Server is
                                            required</small>
                
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div *ngIf="form2.get('SunDatabase')?.invalid && form2.get('SunDatabase')?.touched">
                                        <small class="btn btn-danger px-5 " *ngIf="form2.get('SunDatabase')?.errors?.required"> Database
                                            is
                                            required</small>
                
                                    </div>
                
                                </div>
                            </div>
                            <div class="row pt-2 align-items-center text-center">
                                <div class="col-md-3 text-center ">
                                    <div class="input-group ">
                                        <div class="input-group-prepend w-100">
                                            <span class="input-group-text text-center py-3 w-100" id="inputGroup-sizing-default">Sun
                                                Schedule</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center"> 
                                    <div class="form-check text-white bg-dark text-center w-100">
                                        <input class="form-check-input" type="radio" (click)="diss($event)" name="SunScheduleStatue" id="exampleRadiosSun1"  formControlName="SunScheduleStatue" value="day" checked>
                                        <label class="form-check-label" for="exampleRadios2">
                                            Every day
                                         </label>
                                      </div> 
                                    <input name="everyDay" id="dateSun1" formControlName="SunSchedule" class="list-unstyled hiddenul2 form-control sunEveryDay" type="time">
                
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-check text-white bg-dark text-center w-100">
                                        <input class="form-check-input  " type="radio" (click)="diss($event)" name="SunScheduleStatue" formControlName="SunScheduleStatue"  id="exampleRadiosSun2" value="month" checked>
                                        <label class="form-check-label" for="exampleRadios2">
                                            Every Month
                                        </label>
                                      </div> 
                                   
                                    <input name="everyMonth" formControlName="SunSchedule"   type="datetime-local" class="list-unstyled hiddenul2 form-control sunEveryMonth">
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check text-white bg-dark text-center w-100">
                                        <input class="form-check-input  " type="radio" (click)="diss($event)" name="SunScheduleStatue" id="exampleRadiosSun3" formControlName="SunScheduleStatue"  value="year" checked>
                                        <label class="form-check-label" for="exampleRadios2">
                                            Every Year
                                        </label>
                                      </div> 
                                    
                                    <input name="everyYear" type="datetime-local"  formControlName="SunSchedule" class="list-unstyled hiddenul2 form-control sunEveryYear">
                
                                </div>
                
                            </div>
                            <div class="row justify-content-center">
    
                            </div>
                
                    </div>
    
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Apply Edit</button>
                </div>
            </div>
        </div>
    </div>
    </form>
    
<!-- PostSun Modal -->
<div class="modal " id="sunPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SunPost</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" [formGroup]="form3" (ngSubmit)="importSun()" class=" pb-3 ">
            <div class="modal-body">
                <div class="row py-1 d-flex ">
                    <div class="col-md-12 ">
                        <div class="input-group justify-content-center align-items-center">

                            <div class="input-group-prepend ">
                                <span class="input-group-text " id="inputGroup-sizing-default">Date</span>
                            </div>
                            <div class="row w-50 ">
                                <div class="col-12">
                                    <input formControlName="date" type="date" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">POST</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal -->
<div class="modal " id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
            <p>ARE YOU SURE YOU WANT TO DELETE THIS ROW ?</p>
</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" (click)=confirmDelete() class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between by-3">

    <div class="card w-100">

        <table class="table mx-2 text-center mt-5">
            <thead class="">
                <tr>
                    <th scope="col">Schedule</th>
                    <th scope="col">Schedule Statues</th>
                    <th scope="col">Interface Type</th>
                    <th scope="col">Interface code</th>
                    <th scope="col">Sun code</th>
                    <th scope="col">BU Code </th>
                    <th scope="col">Mapping Code</th>
                    <th scope="col"> import</th>
                    <th scope="col"> Sun Post</th>
                    <th scope="col"> Edit</th>
                    <th scope="col"> Delete</th>

                </tr>
            </thead>
            <tbody id="">
                <tr *ngFor="let i of interfaceData" >
                    <td><div class="startend w-100 text-center d-flex my-2 ">
                        <div class="form-check form-switch mx-auto">
                            <input class="form-check-input" type="checkbox" (change)="startStop($event,i.connectionCode)" role="switch" id="flexSwitchCheckChecked" [checked]="i.scheduleStatus" />
                          </div>
                        <!-- <button class="btn btn-success me-2" type="submit " (click)="start(i.connectionCode)">start</button>
                        <button class="me-4 btn btn-danger" type="submit" (click)="stop(i.connectionCode)">Stop</button> -->
                    </div></td>
                    <td>{{i.type}}</td>
                    <td>{{i.type}}</td>
                    <td>{{i.interfaceCode}}</td>
                    <td>{{i.sunCode}}</td>
                    <td>{{i['BUCode']}}</td>
                    <td>{{i.mappCode}}</td>
                    <td><button class="btn btn-success icBtn" data-bs-toggle="modal" (click)="importBtn(i.interfaceCode,i.type)" data-bs-target="#importmodal" >Import</button></td>
                    <td><button class="btn btn-success icBtn" data-bs-toggle="modal" (click)="importBtn(i.interfaceCode,i.type)" data-bs-target="#sunPost" >Post</button></td>
                    <td><button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editmodal" (click)="editBtn(i)">Edit</button></td>
                    <td><button class="btn btn-danger" data-bs-toggle="modal" (click)="deleteBtn(i.interfaceCode)" data-bs-target="#delete">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>

  

</div>

<div class="position-fixed   text-white text-center right-0  " style="z-index: 5; right: 0; bottom: 39px;">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header ">
            <button type="button" class="btn-close  m-0" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body btn-dark text-white">
        </div>
    </div>
</div>