<section id="home">

    <div class="con mt-5">
        <div class="text-center py-3 mt-5">
            <h2 class="header header-h4">New CAPS Definition</h2>
        </div>
        <form action="" [formGroup]="form2" class=" mb-2  " (ngSubmit)="authorization()">
            <div class="text-center bg-dark">
                <p class="text text-white py-2">CAPS Definition</p>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">User</span>
                        </div>
                        <input formControlName="CapsUser" name="" pattern="^[a-zA-Z0-9_ ]*$" class="form-control" value="" id="">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                        </div>
                        <input formControlName="CapsPassword" name="" id="" class="form-control" value=""
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Server</span>
                        </div>
                        <input formControlName="Capsserver" name="" id="" class="form-control" value=""
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-4 ">
                        <div *ngIf="form2.get('CapsUser')?.invalid && form2.get('CapsUser')?.touched">
                            <small class="btn btn-danger px-5 " *ngIf="form2.get('CapsUser')?.errors?.required"> User is
                                required</small>
                                <small class="btn btn-danger px-5 " *ngIf="form2.get('CapsUser')?.errors?.pattern"> Only Alphabet without spaces</small>
                        </div>
    
                    </div>
                    <div class="col-md-4 ">
                        <div *ngIf="form2.get('CapsPassword')?.invalid && form2.get('CapsPassword')?.touched">
                            <small class="btn btn-danger px-5 " *ngIf="form2.get('CapsPassword')?.errors?.required"> Password
                                is
                                required</small>
    
                        </div>
    
                    </div>
                    <div class="col-md-4 ">
                        <div *ngIf="form2.get('Capsserver')?.invalid && form2.get('Capsserver')?.touched">
                            <small class="btn btn-danger px-5 " *ngIf="form2.get('Capsserver')?.errors?.required"> Server is
                                required</small>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 mt-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Database</span>
                        </div>
                        <input formControlName="CapsDatabase" name="" class="form-control" value="" id="">

                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">locRef</span>
                        </div>
                        <input formControlName="CapslocRef" name="" class="form-control" value="" id="">

                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-6 ">
                        <div *ngIf="form2.get('CapsDatabase')?.invalid && form2.get('CapsDatabase')?.touched">
                            <small class="btn btn-danger px-5 " *ngIf="form2.get('CapsDatabase')?.errors?.required"> Database is
                                required</small>
                        </div>
    
                    </div>
                    <div class="col-md-6 ">
                        <div *ngIf="form2.get('Capslocref')?.invalid && form2.get('Capslocref')?.touched">
                            <small class="btn btn-danger px-5 " *ngIf="form2.get('Capslocref')?.errors?.required"> locRef
                                is
                                required</small>
    
                        </div>
    
                    </div>


                </div>

            </div>

            <div class="row pt-2 align-items-center text-center">
                <div class="col-md-4 text-center ">
                    <div class="input-group ">
                        <div class="input-group-prepend w-100">
                            <span class="input-group-text text-center py-3 w-100" id="inputGroup-sizing-default">Sun
                                Schedule</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center"> 
                    <div class="form-check text-white bg-dark text-center w-100">
                        <input class="form-check-input" type="radio" (click)="diss($event)" name="exampleRadios2" id="exampleRadios2"  formControlName="CapsScheduleStatue" value="day" >
                        <label class="form-check-label" for="exampleRadios2">
                            Every day
                         </label>
                      </div> 
                    <input name="everyDay" formControlName="CapsSchedule" class="list-unstyled hiddenul2 form-control CapsEveryDays" type="time">

                </div>
                <div class="col-md-4 ">
                    <div class="form-check text-white bg-dark text-center w-100">
                        <input class="form-check-input  " type="radio" (click)="diss($event)" name="exampleRadios2" formControlName="CapsScheduleStatue"  id="exampleRadios2" value="month" >
                        <label class="form-check-label" for="exampleRadios2">
                            Every Month
                        </label>
                      </div> 
                   
                    <input name="everyMonth" formControlName="CapsSchedule"   type="datetime-local" class="list-unstyled hiddenul2 form-control CapsEveryMonth">
                </div>
               

            </div>
            <div class="row justify-content-center">

                <div class="col-md-12">
                    <button type="submit" class="btn btn-dark text-white w-100 "
                        [disabled]="form2.status=='INVALID'">submit</button>
                </div>
            </div>

        </form>

    </div>

    <div class="position-fixed   text-white text-center right-0  " style="z-index: 5; right: 0; bottom: 39px;">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header ">
                <button type="button" class="btn-close  m-0" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body btn-dark text-white">
            </div>
        </div>
    </div>

</section>