
<section id="home">
    <div class="con">
        <div class="row text-center">
            <div class="Header mt-3">
                <h1 class=" h2">Interface Definition</h1>
            </div>

        </div>
        <div class="row justify-content-center mt-5  text-center" >
            <div class="col-md-12 mb-3 " >
                <a href="#/SymphonyNewInterface" type="button" class="btn btn-dark w-100" >
                    <div class="text  py-2 ">
                        <a>API Configuration</a>
                    </div>
                </a>
            </div>
            <div class="col-md-12 mb-3 " >
                <a href="#/SymphonyCapsNewInterface" type="button" class="btn btn-dark w-100 " >
                    <div class="text  py-2 ">
                        <a>CAPS Configuration</a>
                    </div>
                </a>
            </div>
            <div class="col-md-12 mb-3 " >
                <a href="#/SymphonySunNewInterface" type="button" class="btn btn-dark w-100 " >
                    <div class="text  py-2 ">
                        <a>SUN Configuration</a>
                    </div>
                </a>
            </div>
            <div class="col-md-12 mb-3 " >
                <a href="#/SymphonyInterfaceDefination" type="button" class="btn btn-dark w-100 " >
                    <div class="text  py-2 ">
                        <a>Interfaces Definition</a>
                    </div>
                </a>
            </div>
            <div class="col-md-12 mb-3 " >
                <a href="#/SymphonyallInterfacesDetails" type="button" class="btn btn-dark w-100 " >
                    <div class="text  py-2 ">
                        <a>Interfaces Details</a>
                    </div>
                </a>
            </div>
            <div class="col-md-12 mb-3 " >
                <a href="#/SymphonyCapsDetalis" type="button" class="btn btn-dark w-100 " >
                    <div class="text  py-2 ">
                        <a>CAPS Details</a>
                    </div>
                </a>
            </div>
            <div class="col-md-12 mb-3 " >
                <a href="#/SymphonySunDetalis" type="button" class="btn btn-dark w-100 " >
                    <div class="text  py-2 ">
                        <a>Sun Details</a>
                    </div>
                </a>
            </div>

           
        </div>       
    </div>
</section>


