<section id="home">

    <div class="con mt-5">
        <div class="text-center py-3 ">
            <h2 class="header header-h4">All In One  Configuration Details </h2>
        </div>

        <div class="card w-100 " >
            <div class="card-header text-center bg-dark text-white">
                All In One  Configuration  Details
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Product : </li>
              <li class="list-group-item">Server IP : </li>
              <li class="list-group-item">license expiry date : </li>
            </ul>
          </div>
    </div>
    
</section>