<section id="home">

    <div class="con mt-5 d-flex justify-content-center align-items-center">
       

        <div class="card w-75   " >
            <div class="card-header text-center bg-dark text-white">
                All In One  Configuration  Details
            </div>
              <p class=" fw-bolder text-center">Product  </p>
              <p class="inline text-center" >{{proud}}</p>
              <p class=" fw-bolder text-center">Enterprise Name </p>
              <p class="inline text-center">{{Enterprise}} </p> 
              <p class="fw-bolder text-center">LockRef  </p>
              <p class="inline text-center">{{LockRef}}</p>
              <p class=" fw-bolder text-center">license expiry date   </p>
              <p class="inline text-center">{{value}} </p>

        </div>
    </div>
    
</section>