<section id="home">
    <div class="con">
        <div class="row text-center">
            <div class="Header mt-3">
                <h1 class=" h2">Interface Definition</h1>
            </div>

        </div>
        <div class="row justify-content-center mt-5  text-center" >
            <div class="col-md-12 mb-3 " >
                <a href="#/MappingDetails" type="button" class="btn btn-dark w-100 " >
                    <div class="text  py-2 ">
                        <a>Mapping Details</a>
                    </div>
                    <!-- <div class="icon icon-right d-flex align-items-center justify-content-center ms-auto">
                        <img src="assets/mapping.png" class="POS-IMG">
                    </div> -->
                </a>
            </div>
            <div class="col-md-12 mb-3 " >
                <a href="#/BU" type="button" class="btn btn-dark w-100 " >
                    <div class="text  py-2 ">
                        <a>Business Unit Configuration</a>
                    </div>
                    <!-- <div class="icon icon-right d-flex align-items-center justify-content-center ms-auto">
                        <img src="assets/mapping.png" class="POS-IMG">
                    </div> -->
                </a>
            </div>
            <div class="col-md-12 mb-3 " >
                <a href="#/homeConfig" type="button" class="btn btn-dark w-100" >
                    <div class="text  py-2 ">
                        <a>Api Configuration</a>
                    </div>
                    <!-- <div class="icon icon-right d-flex align-items-center justify-content-center ms-auto">
                        <img src="assets/mapping.png" class="POS-IMG">
                    </div> -->
                </a>
            </div>
            <div class="col-md-12 mb-3 " >
                <a href="#/APPConfig" type="button" class="btn btn-dark w-100 " >
                    <div class="text  py-2 ">
                        <a>App Configuration</a>
                    </div>
                    <!-- <div class="icon icon-right d-flex align-items-center justify-content-center ms-auto">
                        <img src="assets/mapping.png" class="POS-IMG">
                    </div> -->
                </a>
            </div>
           
        </div>       
    </div>
</section>