<section class="" id="home">
    <div class="con ">
        <div class="row text-center">
            <div class="Header ">
                <h3 class="header-h4 mb-3">Our Products</h3>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3  ">
                    <a href="#/sympdb">
                        <div class="box justify-content-center rounded d-flex align-items-center">
                            <img class="img-fluid prod-logo" src="../../assets/sym.PNG" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <div class="box justify-content-center rounded d-flex align-items-center">
                        <img class="img-fluid prod-logo" src="../../assets/Capture.PNG" alt="">
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="box justify-content-center rounded d-flex align-items-center">
                        <img class="img-fluid prod-logo" src="../../assets/micros-fidelio-suite-8.png" alt="">
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="box justify-content-center rounded d-flex align-items-center">
                        <img class="img-fluid prod-logo" src="../../assets/opera.png" alt="">
                    </div>
                </div>
                <div class="col-md-3 mt-3 ">
                    <div class="box justify-content-center rounded d-flex align-items-center">
                        <img class="img-fluid prod-logo" src="../../assets/Maestro.png" alt="">
                    </div>
                </div>
                <div class="col-md-3 mt-3 ">
                    <div class="box justify-content-center rounded d-flex align-items-center">
                        <img class="img-fluid prod-logo" src="../../assets/InforSunSystems.png" alt="">
                    </div>
                </div>
                <div class="col-md-3 mt-3 ">
                    <div class="box justify-content-center rounded d-flex align-items-center">
                        <img class="img-fluid prod-logo" src="../../assets/sym.PNG" alt="">
                    </div>
                </div>
            </div>


            
        </div>
    </div>
</section>